<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% var user_id = user_id %>
    <% var email = email %>
    <% include partials/_header %>
    <h2>Urls and their shortened forms:</h2>
    <ul>
    <% for (i in urls) {%>
    <% if(urls[url].user_id === user_id) { %>
    localhost:8080/u/<%= url %> | <%= urls[url].url %> | <%= urls[url].date %>
    <a href="/urls/<%= i %>">Edit</a>
    <form method="POST" action="/urls/<%= i %>/delete">
    <input type ="submit" value="Delete"></input> <br />
    </li>
    <% } %>
    <% } %>
    </ul>


    </form>
    <p>Have a link you want to shorten? Click on the link below!</p>
    <a href = "http://localhost:8080/urls/new">short.en</a>
    <! Add your EJS code here
</body>
</html>  -->
<html>
<body>

<% include partials/_header %>

<% if (currentUser) { %>
  <p>Hello, <%= currentUser.email %></p>
  <form method="post" action="/logout">
    <p>
      <button>Logout</button>
    </p>
  </form>
<% } else { %>
  <p><a href="/login">Sign In</a></p>
  <p> Please Login</p>
<% } %>
<table>
  <thead>
  <tr>
    <th>Short URL</th>
    <th>Long URL</th>
  </tr>
  </thead>
  <tbody>
  <% for (var url in urls) { %>
    <tr>
      <td><a href="<%= urls[url] %>"><%= url %></a></td>
      <td><a href="<%= urls[url] %>"><%= urls[url] %></a></td>
      <td>
        <form action="/urls/<%= url %>/edit" method="GET" id="shortURL" type="submit" value="Edit">
          <button>Edit</button>
        </form>
      </td>
      <td>
        <form action="/urls/<%= url %>/delete" method="POST" id="shortURL" type="submit" value="Delete">
          <button>Delete</button>
        </form>
      </td>
    </tr>
  <% } %>
  </tbody>

</table>
</body>
</html>
